{% extends "base.njk" %}

{% block mainContent %}

<div class='inside'>

  <!-- title -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    <div class='Grid-cell'>
      <h2>About</h2>
    </div>
  </div>

  <!-- <h2>About</h2> -->

  <!-- kolonner -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    
    <div class='Grid-cell'>
      <p>CANTINA er et kunstnerdrevet udstillingssted drevet af medlemmer af atelierfællesskabet Corporum. CANTINA er baseret i lokaler på Godsbanen i Aarhus C.</p>
      <p>CANTINA is an artist-run exhibition space run by members of the studio community Corporum. CANTINA is based on Godsbanen in Aarhus C., Denmark</p>
    </div>

    <div class='Grid-cell'>
      <p>Adress: CANTINA. Skovgaardsgade 3, DK-8000 Aarhus C.</p>
      <p>
        Corporum: <a href='http://corporum.dk/' target='_blank'>http://corporum.dk/</a><br/>
        fb: <a href='https://www.facebook.com/cancancantina' target='_blank'>https://www.facebook.com/cancancantina</a><br/>
        Insta: <a href='https://www.instagram.com/cancancantina/' target='_blank'>https://www.instagram.com/cancancantina/</a>
      </p>
    </div>

  </div>

</div>  

{% endblock mainContent %}