{% extends "base.njk" %}

{% block mainContent %}

<div class='inside'>

  <!-- title -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    <div class='Grid-cell'>
      <h2>About</h2>
    </div>
  </div>

  <!-- kolonner -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    
    <div class='Grid-cell'>
      <p>CANTINA er et udstillingssted ....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies auctor aliquet. Aenean at lorem scelerisque, consequat nunc et, pulvinar turpis. Aenean gravida tempor diam, eget congue nunc. Donec purus dui, efficitur id metus non, facilisis tincidunt ipsum. Phasellus porta, quam sed fringilla fringilla, quam augue varius libero, nec eleifend mi tortor in enim. Integer varius justo magna, in auctor ex iaculis vel. Ut sed nisl eu eros egestas imperdiet eget id dui. Sed turpis sapien, fermentum ut massa aliquam, faucibus commodo erat. Etiam sit amet ligula at arcu lobortis molestie in sed ante.</p>
    </div>

    <div class='Grid-cell'>
      <p>Sed accumsan metus eget erat molestie dapibus. Cras enim orci, condimentum eget tortor et, lobortis imperdiet arcu. Aliquam mollis volutpat eros nec pellentesque. Integer vel orci sit amet urna elementum molestie in vel justo. Nam at metus turpis. Mauris rutrum ornare arcu, non sagittis turpis malesuada a. Suspendisse at enim ornare, maximus sem nec, lacinia risus. Nulla dignissim urna in auctor interdum. Suspendisse molestie tortor faucibus commodo rhoncus.</p>
      <p>FB: <a href='https://www.facebook.com/cancancantina' target='_blank'>https://www.facebook.com/cancancantina</a><br/>
      Insta: <a href='https://www.instagram.com/cancancantina/' target='_blank'>https://www.instagram.com/cancancantina/</a><br/>
    </div>

  </div>

</div>  

{% endblock mainContent %}