{% extends "base.njk" %}

{% block mainContent %}

  <div class='insideCol'>

    <!-- GRID -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">

      <!-- left col -->
      <div class="Grid-cell">
        <p><img src='{{ imgUrl }}'/></p>
        <h2>{{ title }}</h2>
        {{ content | safe }}
        <!-- <div class='backToArrow'><a href='/exhibitions'>&larr; tilbage</a></div> -->
      </div>
    </div>

    <!-- spacer -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class='Grid-cell'><p>&nbsp;</p></div>
    </div>

    <!-- GRID for images below main content -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class='Grid-cell'>
        <h2>Her kommer de andre billeder</h2>
        <img src='{{ thumbUrl }}'/>
      </div>
    </div>

  </div> <!-- eof grid -->


{% endblock mainContent %}