{% extends "base.njk" %}

{% block mainContent %}

  <div class='insideCol'>

    <!-- GRID -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">

      <!-- left col -->
      <div class="Grid-cell">
        <p><img src='{{ imgUrl }}'/></p>
        <h2>{{ title }}</h2>
        {{ content | safe }}
        <!-- <div class='backToArrow'><a href='/exhibitions'>&larr; tilbage</a></div> -->
      </div>
    </div>

    <!-- spacer -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class='Grid-cell'><p>&nbsp;</p></div>
    </div>

    <!-- GRID for images below main content -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class='Grid-cell'>
        <h2>Her kommer de andre billeder</h2>
        <img src='{{ thumbUrl }}'/>
      </div>
    </div>

  </div> <!-- eof grid -->


  <!-- Swiper -->
  <div class='insideCol'>

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src='/assets/images/swiperDemo/1.jpg' /></div>
          <div class="swiper-slide"><img src='/assets/images/swiperDemo/2.jpg' /></div>
          <div class="swiper-slide"><img src='/assets/images/swiperDemo/3.jpg' /></div>
          <div class="swiper-slide"><img src='/assets/images/swiperDemo/4.jpg' /></div>
          <div class="swiper-slide"><img src='/assets/images/swiperDemo/5.jpg' /></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

  </div>



{% endblock mainContent %}