{% extends "base.njk" %}

{% block mainContent %}


  <!-- bg -->
  <div class='bgWrapper'></div>

  <div class='programWrapper'>
    {% for prog in collections.currentProgram %}
      <a href='{{ prog.data.link }}'><img src='{{ prog.data.plakat }}'/></a>
    {% endfor %}
  </div>

  {# content | safe #}

  <!-- øvrige program-punkter herunder?? -->
  <div class='belowProgramWrapper'>

    <div class='insideCol'>

      <!-- overskrift -->
      <div class="Grid Grid--gutters Grid--full large-Grid--fit">
        <div class="Grid-cell">
          <h2>Upcoming</h2>
        </div>
      </div>

      <!-- grid, upcoming program items -->
      <div class="belowProgramWrapper">

          <div class="Grid Grid--gutters Grid--full large-Grid--fit">
            <div class="Grid-cell">

            {% for prog in collections.upcomingProgram | reverse %}
              
                <a href='{{ prog.data.link }}'><h3>{{ prog.data.title }} &rarr;</h3></a>
                {{ prog.data.content | safe }}
                <!-- <p><a href='{{ prog.data.link }}'>link</a></p> -->
              
            {% endfor %}
            </div>

          </div>

      </div>


      <!-- overskrift -->
      <div class="Grid Grid--gutters Grid--full large-Grid--fit">
        <div class="Grid-cell">
          <h2>Previous</h2>
        </div>
      </div>


      <!-- grid, upcoming program items -->
      <div class="belowProgramWrapper">

          <div class="Grid Grid--gutters Grid--full large-Grid--fit">
            <div class="Grid-cell">
            {% for prog in collections.previousProgram | reverse %}
              
                <a href='{{ prog.data.link }}'><h3>{{ prog.data.title }}</h3></a>
                {{ prog.data.content | safe }}
                <!-- <p><a href='{{ prog.data.link }}'>link</a></p> -->
              
            {% endfor %}
            </div>

          </div>

      </div>

      
    </div> <!-- eof inside -->

  </div> <!-- eof belowProgramWrapper -->

{% endblock mainContent %}