{% extends "base.njk" %}

{% block leftContent %}

  <h2>Medlemmer</h2>
  <p>A list of resources that are being used, or referenced, frequently in the code&amp;share workshops. Links open in new windows</p>
  <div class='medlemmerWrapper'>
    {% for rs in collections.medlemmerCollection %}
      <div class='rs'>
        <div class='img'><a href='{{ rs.data.url }}' target='{{ rs.data.target }}'><img src='{{ rs.data.thumbUrl }}'></a></div>
        <div class='info'>
          <span class='title'>{{ rs.data.name }}</span>
          {{ rs.data.description }}
          <span class='link'><a href="{{ rs.data.url }}" target="_blank">{{ rs.data.urlTitle }}</a></span>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock leftContent %}


<!-- right content -->
{% block rightContent %}

  <!-- nothing -->

{% endblock rightContent %}