{% extends "base.njk" %}

{% block mainContent %}

  <div class='inside'>

    <!-- title -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class='Grid-cell'>
        <h2>Press</h2>
      </div>
    </div>

    <!-- kolonner -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      
      <!-- første kolonne -->
      <div class='Grid-cell'>
        <p>Omtaler, under opdatering</p>
      </div>

      <!-- ande kolonne -->
      <div class='Grid-cell'>
        <p>...</p>
      </div>

    </div>

  </div>

{% endblock mainContent %}