{% extends "base.njk" %}

{% block mainContent %}

  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    <div class='Grid-cell'>

      <h2>Press</h2>
      <p>Omtaler, men tilhørende links</p>

    </div>
  </div>

{% endblock mainContent %}