{% extends "base.njk" %}

{% block leftContent %}

  <h2>Resources</h2>
  <p>A list of resources that are being used, or referenced, frequently in the code&share workshops. Links open in new windows</p>
  <div class='resourceWrapper'>
    {% for rs in collections.resourceCollection %}
      <div class='rs'>
        <div class='img'><a href='{{ rs.data.url }}' target='{{ rs.data.target }}'><img src='{{ rs.data.thumbUrl }}'></a></div>
        <div class='info'>
          <span class='title'>{{ rs.data.name }}</span>
          {{ rs.data.description }}
          <span class='link'><a href="{{ rs.data.url }}" target="_blank">{{ rs.data.urlTitle }}</a></span>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock leftContent %}


<!-- right content -->
{% block rightContent %}

  <div class='headerWrapper'>
    <div class='rightHeader'>
      <h2>Additional Resources</h2>
    </div>
  </div>
  
  <div class='addResourceWrapper'>
    {% for rs in collections.addResourceCollection %}
      <div class='addRs'>
        <div class='number'>{{ rs.data.number }}</div>
        <div class='info'>
          <a href="{{ rs.data.url }}" target="_blank">{{ rs.data.urlTitle }}</a>&nbsp;
          {{ rs.data.name }} {{ rs.data.description }} 
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock rightContent %}