{% extends "base.njk" %}

{% block mainContent %}

  <div class='inside'>

    <!-- overskrift -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Resources</h2>
      </div>
    </div>

    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <!-- 1st column -->
      <div class="Grid-cell">
        <p>Download manual <a href='/assets/files/ManualPDF.pdf' target='_blank'>here</a></p>
      </div>
      <!-- 2nd column -->
      <div class='Grid-cell'>
        <p>...</p>
      </div>
    </div>    

  </div>

{% endblock mainContent %}