{% extends "base.njk" %}

{% block leftContent %}

  <div class='upcomingWrapper'>
    {% for ws in collections.upcomingWorkshops | reverse %}
      <div class='ws'>
        <div class='imageWrapper' style='background-image: url({{ ws.data.imageUrl }})'>
          <div class='insideWrapper'>
            <div class='upcomingHeader'>
              <a href="/" title='Mob Programming for Bot-Mimicry. By Christian Hagelskjær From and Malthe Stavning Erslev'>&nbsp;
                <!-- <span class='upcomingNumber'>{{ ws.data.number }}</span>
                <i>{{ ws.data.title }}</i><br/>Christian Hagelskjær From &<br/>Malthe Stavning Erslev. -->
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {{ content | safe }}

{% endblock leftContent %}

<!-- right content -->
{% block rightContent %}

  {% include "rightHeader.html" %}

  <!-- <h2>previous</h2> -->
  <div class='workshopWrapper'>
    {% for ws in collections.previousWorkshops | reverse %}
      <div class='ws'>
        <div class='number'>{{ ws.data.number }}</div>
        <div class='info'>
          <span class="date">{{ ws.data.time }}
            →</span>
          {{ ws.data.name }}
          {{ ws.data.shortDesc }}
          <a href="{{ ws.data.url }}" target="_blank">{{ ws.data.urlTitle }}</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock rightContent %}